<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-ng-app="admin">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Clinic care</title>
      <meta content="" name="description"></meta>
      <meta content="" name="keywords"></meta>
      <div th:replace="fragments/header :: header-css" />
   </head>
   <body>
      <div th:replace="fragments/header-top :: header-top" />
      <aside id="sidebar" class="sidebar">
         <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
               <a class="nav-link " href="home#/dashboard">
               <i class="bi bi-grid"></i>
               <span>Dashboard</span>
               </a>
            </li>
            <!-- End Dashboard Nav -->
            <li class="nav-item">
               <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
               <i class="bi bi-menu-button-wide"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
               </a>
               <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                     <a href="home#/state">
                     <i class="bi bi-circle"></i><span>State</span>
                     </a>
                  </li>
                  <li>
                     <a href="home#/city">
                     <i class="bi bi-circle"></i><span>City</span>
                     </a>
                  </li>
                  <li>
                     <a href="home#/users">
                     <i class="bi bi-circle"></i><span>Add Users</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
               <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
               <i class="bi bi-journal-text"></i><span>Client</span><i class="bi bi-chevron-down ms-auto"></i>
               </a>
               <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                     <a href="home#/client">
                     <i class="bi bi-circle"></i><span>Add Client</span>
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </aside>
      <main id="main" class="main">
         <div data-ng-view=""></div>
      </main>
      <div th:replace="fragments/footer :: footer" />
      <script th:src="@{/angular/admin/adminRouting.js}"></script>
      <script th:src="@{/angular/admin/adminController.js}"></script>
      <script th:src="@{/angular/common/commonRouting.js}"></script>
      <script th:src="@{/angular/common/commonController.js}"></script>
   </body>
</html>