<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">-->

  <title>Servaline clinic | Login</title>
  <!-- <meta content="" name="description">
  <meta content="" name="keywords"> -->

  <!-- Favicons 
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 -->
  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
  <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet"/>
  <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
  <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet"/>

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet"/> 

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="" />
                  <span class="d-none d-lg-block">Clinic Care</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username password to login</p>
                  </div>

                   <form  th:action="@{/login}" method="post" class="row g-3 needs-validation"> 

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="username" />
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" />
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
						<div class="col-md-6">
						<div class="inputbox">
						<i class="icon-pencil"></i>
						<input name="captchaText" id="captchaText" type="text" maxlength="4" autocomplete="off" required="required" class="form-control" placeholder="Captcha" />
					</div></div>
						<div class="col-md-6">
						<div class="input-group mt-1">
						<img id="captcha_id" name="imgCaptcha" th:src="@{/captcha?type=login}" /> 
						<a href="#"><img th:src="@{/img/refresh.png}" width="26" onclick="document.getElementById('captcha_id').src = 'captcha?' + Math.random() + '&amp;type=login';  return false" /></a>
					</div>
						</div>
                    <div class="col-12">
                      <button id="btn-login" class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    
                   </form> 

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="http://digitalservaline.com/">Digital Servaline</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script th:src="@{/js/jquery.min.js}"></script>
  
  <script  th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
  <script  th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script  th:src="@{/vendor/chart.js/chart.min.js}"></script>
  <script  th:src="@{/vendor/echarts/echarts.min.js}"></script>
  <script  th:src="@{/vendor/quill/quill.min.js}"></script>
  <script  th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
  <script  th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
  <script  th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:inline="javascript">
		$(document)
				.ready(
						function() {
							$('#btn-login').click(
											function() {
												var username = $.trim($('#username').val().trim());
												var password = $.trim($('#password').val().trim());
												var captchaText = $.trim($('#captchaText').val().trim());
												if (username == ''
														|| password == ''
														|| captchaText == '') {
													//alert("Please enter User Name and Password");
												} 
												
												 else {
												/*	if(!(username=='khadi@mp.gov.in' || username.includes('mppolice.gov.in'))){
														if(username.includes('gov.in') || username.includes('nic.in')){
															alert("Please use 'LOGIN WITH OFFICIAL/GOVT. EMAIL' button below to login with government email ids.");
															return false;
														}else{ */
															var hashObj = new jsSHA("SHA-256", "TEXT","1");
															hashObj.update($('#password').val().trim());
															$("#password").val(hashObj.getHash("HEX"));
														/* }
													}else{
														var hashObj = new jsSHA("SHA-256", "TEXT","1");
														hashObj.update($('#password').val().trim());
														$("#password").val(hashObj.getHash("HEX"));
													} */
												}
											});
							
							$('#btn-login-ldap')
							.click(
									function() {
										if ($.trim($('#username').val().trim()) == ''
												|| $.trim($('#password').val().trim()) == ''
												|| $.trim($('#captchaText').val().trim()) == '') {
											//alert("Please enter User Name and Password");
										} else {
											var hashObj = new jsSHA("SHA-256", "TEXT","1");
											hashObj.update($('#password').val().trim());
											$("#password").val(hashObj.getHash("HEX"));
										}
									});
						});
	</script>
</body>

</html>